.footer{
    position:absolute;
    bottom: 0;
}

.topnav .navbar-brand {
    color: #4e78ff !important;
    font-size: 3.5rem;
}

.topnav .nav-link {
    color: white !important;
    font-size: 1.2rem;

}

.bg-main-img {
    max-width: 100%;
    height: auto;
}
